/*fonts*/
@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Display Web';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Display Web';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Display Web';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway Display Web';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* start of mobile version*/
*{
	box-sizing: border-box;
}

html{
	font-size:14px;
}

body{
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif sans-serif; 
	margin: 0 auto;
}

h2 {
	font-family: 'Playfair Display Web', Arial, Helvetica, serif;
    font-style: italic;
	font-size: 2.4rem;
}
h3 {
	font-family: 'Playfair Display Web', Arial, Helvetica, serif;
}
.bold{
	font-weight: bold;
	font-style: normal;
}
/*header section*/
.header{
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	z-index: 100;
	top:0;
	background-color:white;
	padding: 1.1rem 0.5rem 0 0.3rem;
	border-bottom: 1px solid #D3D3D3;
}
.logo { 
	width: 8.8rem;
	height: auto;
	padding: 0 0.1rem 0 0.15rem;
}
.cart { 
	width: 3.57rem;
}
.nav{
	flex-grow: 1;
	width: 100%;
	border-top: 1px solid #D3D3D3;
	margin-top: 0.4rem;
}
.nav ul{
	text-align: center;
	padding: 1rem 0;
}
.nav li {
	display: inline;
	margin: 0 1rem;
}
.nav a{
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #F05146;
}

/*banner section*/
.hero { 
	position: relative;
	height: 400px;
	margin-top: 7.5rem;
	text-align: center;
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), 
		url('../images/banner-girl.png') no-repeat center 4.3rem, 
		url('../images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, 10.71rem 26.3em, cover;	
}
.hero_text { /*text in banner image*/
	text-align: center;
	padding-top: 11.8rem;
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 1.26rem;
	text-shadow: 0.14rem 0.14rem 0.57rem rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	color: #ffffff;
}
.hero_springsummer { /*text in banner image*/
	text-align: center;
	margin: 1.35rem 3.42rem;
	font-family: 'Playfair Display Web', Arial, Helvetica, serif;
	font-size: 2.5rem;
	text-shadow: 0.14rem 0.14rem 0.57rem rgba(0, 0, 0, 0.4);
	color: white;
}

/*content section*/
.content {
	padding: 1rem;
	margin: 3rem auto;
}
.content_text {
	padding-top: 1.4rem;
	margin: 0 auto;
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-size: 1.14rem;
	line-height: 2;
}

/*box images section*/
.box_area {
	display:flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
	text-align: center;
	margin-bottom: 4rem;
}
.box_category{
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: white;
}
.mens-category {
	flex: 2 0 100%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	   url('../images/mens-category.jpg')no-repeat center ;
    background-size: cover, cover;
}
.trends-category {
	flex: 1 0 50%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	    url('../images/trends-category.jpg')no-repeat center; 
	background-size: cover, cover;
}
.glasses-category {
	flex: 1 0 50%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	    url('../images/glasses-category.jpg')no-repeat center;
	background-size: cover, cover;
}
.sale-category {
	flex: 1 0 50%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	    url('../images/sale-category.jpg')no-repeat center;
	background-size: cover, cover;
}
.bags-category {
	flex: 1 0 50%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	    url('../images/bags-category.jpg')no-repeat center; 
	background-size: cover, cover;
}
.womens-category {
	flex: 1 0 100%;
	padding:20% 0;
	border: 4px solid white;
	background:  linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ),
	    url('../images/womens-category.jpg')no-repeat center; 
	background-size: cover, cover;
}

/*product list section*/
#container {	
	text-align: center;	
	margin-bottom: 0.57rem;
}
.product_images {
	padding: 4.1rem 2rem 3rem 2rem;
	list-style: none;
	line-height: 2;
}
.product p {
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 0.78rem;
	text-transform: uppercase;
	color: #969696;
}
.product li{
	width: 100%;
}
.product_name {
	font-size: 1.64rem;
	color: #e2574c;
}
.product .price{
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 1.07rem;
	color: #969696;
}

/*sign up section*/
form {
	position: relative;
	max-width: 31rem; 
	top: 2.14rem;
	margin: auto;
}
input{
	outline: none;
	padding: 0.71rem 0 0.71rem 2.14rem;
	border-radius: 3rem;
	border-style: none;
	width: 28.8rem;
    height: 2.85rem;
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-size: 1.07rem;	
}
input:focus{
	outline: none;
	box-shadow: .14rem .14rem .38rem #888888;
}
label{
	font-family: Helvetica;
	font-weight: bold;
}
.signup{
	height: 23.8rem;
	margin: 4rem auto 0 auto;
	text-shadow: 0.03rem 0.03rem 0.07rem #000000;
	background: linear-gradient( rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18) ), 
	    url('../images/wave-bkgd.jpg') no-repeat bottom;
}
.signup_title{
	padding-top: 4.2rem;
	color: #ffffff;
}
.signup_text{
	padding-top: 1.40rem;
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-size: 1.14rem;
	line-height: 2;
	color: #ffffff;
}
button{
	outline:none;
	position: relative;
	cursor: pointer;
	border: 0;
	width: 7.85rem;
	padding: 0.57rem 1.71rem;
	border-radius: 3rem;
	left: 10.2rem;
	bottom: 2.7rem;
	font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 1.03rem;
	background-color: #e2574c;
	color: #fff;
}
button:hover,
button:active {
	background-color: #AD3F36; 
}

/*footer section*/
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 21.5rem;
	width:100%;
	padding: 2rem 0;
	max-width: 100%;
	text-align: center;
	background-color:#242424;
}
.footer p {
	font-family: 'Playfair Display Web', Arial, Helvetica, serif;
	font-size: 1rem;
	color: white;
}
.alohaapparel {
	margin-bottom: 1.3rem;
	line-height: 1.5;
}
.contact_info {
	margin-bottom: 1.21rem;
}
.email {
	color: white;
}
.email:hover {
	color: #b64036;
}
.address {
	line-height: 1.5;
	margin-bottom: 2.2rem;
}
.address p{
	color: #969696;
}
.socialmedia ul {
	display: block;
	align-self: flex-end;
}
.socialmedia li {
	display: inline-block;
	padding : 0 0.42rem;
}
.fa {
	color: white;
}
.fa:hover {
	color: #b64036;
}
.socialmedia_name{
	display:none;
}
/* End of mobile version*/

/* Breakpoints:tablet*/
@media screen and (min-width: 600px) {
	html {
		font-size: 16px;
	}
	h2 {
		font-size: 2.4rem;
	}
/*header section*/
	.header{
		padding-left: 0.6rem;
		padding-right: 1rem;
		height: 5.2rem;
	}
	.logo { 
		width: 7.8rem;
		order: 1;
		flex-basis: 20%;
	}
	.cart { 
		width: 3rem;
		order: 3;
		flex-basis: 18%;
		text-align: right;
	}
	.nav {
		width: 62%;
		order: 2;
		border-top: none;
		flex-basis: 60%;		
	}
	.nav a{
		font-size: 0.9rem;
	}

/*banner section*/
	.hero { 
		position: relative;
		margin-top: 5.2rem;
		background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), 
			url('../images/banner-girl.png') no-repeat center 3.8rem, 
			url('../images/flower-bkgd.jpg') repeat-x center top;
		background-size: cover, 9.37rem 23rem, cover;
	}
	.hero_text { 
		font-size: 1.25rem;
		padding-top: 9.6rem;
	}
	.hero_springsummer {
		font-size: 2.95rem;
		letter-spacing: 0.04rem;
		text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
	}
/*content section*/
	.content {
		width: 630px;
	}
/*box section*/
	.mens-category {
		padding:11% 0;
		flex: 2 0 50%;
	}
	.trends-category {
		padding:11% 0;
		flex: 1 0 25%;
	}
	.glasses-category {
		padding:11% 0;
		flex: 1 0 25%;
	}
	.sale-category {
		padding:11% 0;
		flex: 1 0 25%;
	}
	.bags-category {
		padding:11% 0;
		flex: 1 0 25%;
	}
	.womens-category {
		padding:11% 0;
		flex: 2 0 50%;
	}
/*product list section*/
	.product_list h2{
		margin-bottom: 1rem;
	}
	.product li{
		width: 50%;
	}
	.product_images {
		height: 28rem;
		padding: 2.3rem;
		width: 50%;
	}

	.product_images img{
		width: 15rem;
	}
	.product p {
		font-size: 0.7rem;
	}
	.product_name {
		font-size: 1.5rem;
	}
	.product .price{
		font-size: 1rem;
	}
/*sign up section*/
	.signup {
		height: 21.5rem;
	}
	.signup_text{
		width: 670px;
		margin: 0 auto;
	}

/*footer section*/
	.footer {
		display: flex;
		flex-direction: row;
		height: 18rem;
		padding: 3.8rem 0 0 0;
		justify-content: space-between;
	}
	.footer_text {
		width: 20rem;
		margin-left: 1.3rem;
		text-align: left;
	}
	.socialmedia ul{
		display: flex;
		flex-direction: column;
		text-decoration: none;
		text-align: left;
		line-height: 1.8;
	}
	.socialmedia{
		margin-right: 2.7rem;
	}
	.socialmedia li {
		width: auto;
		margin-bottom: 0.2rem;
	}
	.socialmedia i{
		width:1.7rem;
	}
	.socialmedia a{
		text-decoration: none;
	}
	.socialmedia_name {
		display: inline-block;
		font-family: 'Raleway Display Web', Arial, Helvetica, sans-serif;
		color: white;
	}
	.socialmedia_name:hover {
		color: #b64036;
	}
}
/* end of Breakpoints:tablet*/

/* Breakpoints:desktop*/
@media screen and (min-width: 1240px) {
	html{
		font-size: 16px;
	}
	/*header section*/
	.header{
		height: 6rem;
	}
	.logo {
		width:10.2rem;
		margin-left: 0.1rem;
	}
	.cart { 
		width: 3.9rem;
		margin-right: 0.2rem; 
	}
	.nav a{
		font-size: 1rem;
	}
	/*banner section*/
	.hero { 
		position: relative;
		clear: both;
		height: 34.3rem;
		margin-top: 6rem;	
		background: linear-gradient( rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24) ), 
			url('../images/banner-girl.png') no-repeat center 3.81rem, 
			url('../images/flower-bkgd.jpg') repeat-x center top;
		background-size: cover, auto 38.5rem, contain;
	}
	.hero_text { 
		font-size: 1.25rem;
		padding-top: 13.9rem;
	}
	.hero_springsummer { 
		margin-top: 1.3rem;
		font-size: 3.9rem;
		letter-spacing: 0.05rem;
	}
	/*box section*/
	.box_area{
		height: 650px;
	}
	.box_category{
		font-size: 2.3rem;
	}
	/*product list section*/
	.product li{
		width: 25%;
	}
	.product_images {
		width: 25%;
	}
	/*signup section*/
	input {
		width: 28rem;
		padding: 0.7rem 2rem;
	}
	button{
		position: relative;
		left: 10rem;
		bottom: 2.6rem;
		width: 7.5rem;
		padding-left: 1.5rem;
	}
	/*footer section*/
	.footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.footer_text {
		text-align: left;
		margin-left: 2.3rem;
		margin-top: 0.3rem;
	}
	.socialmedia{
		margin-right: 4.3rem;
	}
	.socialmedia ul{
		text-decoration: none;
		text-align: left;
	}
	.socialmedia li {
		width: 8rem;
		height: 0.3rem;
		margin: 0.2rem 0.2rem 1.5rem 1.2rem;
	}
}
/* end of Breakpoints:desktop*/
