/*.clearfix:before,
.clearfix:after {
	content:"";
	display: table;
	clear: both;
}*/
/*fonts*/
@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg'),
         url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg'),
         url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* start of mobile version*/
html{
	font-size:14px;
}

body{
	margin: 0 auto;
	font-family: 'ralewaylight';
}

h2 {
	font-family: 'playfair_displayitalic', 'Times New Roman', Times, serif;
	font-size: 2.5rem;
}
h3 {
	font-family: 'playfairdisplay-regular';
}
.bold{
	font-family: 'playfair_displaybold';
	font-style: normal;
}


/*header section*/
.header{
	display:flex;
	justify-content: space-between;
	margin-bottom: 0.6rem;
}
.logo { 
	width: 8.59rem;
	height: auto
	padding: 0.1rem;
	margin: 0.49rem 0 0 0.32rem;
}

.cart { 
	width: 3.57rem;
	height: auto;
	padding: 0.1rem;
	margin: 0.4rem 0.7rem 0 0;
}
/*end of header section*/

/*banner section*/
.hero { 
	text-align: center;
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), 
	url('images/banner-girl.png') no-repeat center 4.2rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, 10.71rem 26.7em, cover;	
	height: 28.57rem;
	position: relative;
}


.hero_text { /*text in banner image*/
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 1.35rem;
	color: #ffffff;
	text-align: center;
	text-shadow: 0.14rem 0.14rem 0.57rem rgba(0, 0, 0, 0.6);
	padding-top: 11.42rem;
}

.hero_springsummer { /*text in banner image*/
	font-family: 'playfairdisplay-regular', 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	margin: 1.42rem;
	letter-spacing: 0.07rem;
	text-shadow: 0.14rem 0.14rem 0.57rem rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
}
/*end of banner section*/

/*content section*/
.content1 {
	padding: 3.57rem 1rem 4rem 1rem;
	margin: 0 auto 0 auto;
}

.content1_text {
	font-family: 'ralewaylight', 'Times New Roman', Times, serif;
	font-size: 1.14rem;
	padding-top: 1.78rem;
	margin: 0 auto 0 auto;
	line-height: 2;
}

.line-separator{
	max-width: 100%;
	border-bottom: 0.07rem solid #d4d4d4;
	margin-bottom: 4.28rem;
}
/*end of content section*/

/*product list section*/
#container {	
	text-align: center;	
	height: auto;
	margin-bottom: 0.57rem;
}

.product li {
	padding: 1.57rem;
}

li {
	list-style: none;
	line-height: 2;
}

.product p {
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 0.78rem;
	color: #969696;
}

.product_name {
	color: #e2574c;
	font-size: 1.64rem;
}

.product .price{
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 1.07rem;
	color: #969696;
}
/*end of product list section*/

/*sign up section*/
form {
	position: relative; 
	top: 2.14rem;
	max-width: 31rem;
	margin: 0 auto;
	width: 100%;
}

input{
	outline: none;
	border-style: none;
	padding: 0.71rem 0 0.71rem 2.14rem;
	border-radius: 3rem;
	width: 22rem;
	height: 1.5rem;
	font-family: 'ralewaylight';
	font-size: 1.07rem;
}
input:focus{
	outline: none;
	box-shadow: .14rem .14rem .38rem #888888;
}

label{
	font-family: Helvetica;
	font-weight: bold;
}

.signup{
	margin: 2.8rem auto 0 auto;
	text-shadow: 0.03rem 0.03rem 0.07rem #000000;
	background: linear-gradient( rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18) ), 
	url('images/wave-bkgd.jpg') no-repeat bottom;
	height: 24rem;
}

.signup_text{
	padding-top: 4rem;
	color: #ffffff;
}

.signup_text2{
	padding-top: 1.40rem;
	font-family: 'ralewaylight', 'Times New Roman', Times, serif;
	font-size: 1.14rem;
	color: #ffffff;
	line-height: 2;
	margin: 0 1.95% 0 1.95%;
}

button{
	border: 0;
	background-color: #e2574c;
	color: #fff;
	padding: 0.57rem 1.71rem;
	border-radius: 3rem;
	width: 7.85rem;
	cursor: pointer;
	font-family: 'ralewaymedium';
	font-weight: bold;
	font-size: 1.03rem;
	position: relative;
	left: 7.9rem;
	bottom: 2.64rem;
}

button:hover,
button:active {
	background-color: #AD3F36; 
}
/*end of sign up section*/

/*footer section*/
.footer {
	display: flex;
	flex-direction: column;
	height: 20rem;
	width:100%;
	max-width: 100%;
	background:#242424;
	text-align: center;
	padding: 1rem 0;
	justify-content: center;
}
.footer_text {

}

.footer p {
	color: white;
	font-family: 'playfairdisplay-regular', 'Times New Roman', Times, serif;
	font-size: 1rem;
}

.alohaapparel {
	padding-top: 0.35rem;
	padding-bottom: 1.07rem;
	line-height: 1.5;
}

.contactinfo {
	padding-bottom: 1.21rem;
}

.email {
	color: white;
}

.email:hover {
	color: #b64036;
}

.address {
	line-height: 1.5;
	margin-bottom: 1.85rem;
}

.address p{
	color: #969696;
}

.socialmedia ul {
	display: block;
	align-self: flex-end;
}
.socialmedia li {
	display: inline-block;
	padding : 0 0.42rem 0 0.42rem;

}

.fa {
	color: white;
}
.fa:hover {
	color: #b64036;
}

.socialmedia_name{
	display:none;
}
/*end of footer section*/
/* End of mobile version*/



/* Breakpoints:tablet*/
@media screen and (min-width: 600px) {

html {
	font-size: 16px;
}

h2 {
	font-size: 2.4rem;
}

/*header section*/
.header{
	margin: 0;
}


.logo { 
	width: 9.1rem;
	margin: 0.5rem 0 0.6rem 0.5rem;
}

.cart { 
	width: 3.6rem;
	margin: 0.4rem 0.94rem 0rem 0;
}
/*end of header section*/


/*banner section*/

.hero { 	
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), 
	url('images/banner-girl.png') no-repeat center 3.6rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, 9.37rem 22rem, cover;
	height: 25rem;
	position: relative;
}

.hero_text { /*text in banner image*/
	font-size: 1.3rem;
	padding-top: 9.6rem;
}

.hero_springsummer { /*text in banner image*/
	font-size: 2.8rem;
	padding-top: 0.08rem;
	letter-spacing: 0.07rem;
}
/*end of banner section*/

/*content section*/
.content1 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin: 0 auto 0 auto;
}

.content1_text {
	font-size: 1.15rem;
	padding-top: 1.3rem;
	margin: 0 1rem;
	line-height: 2;
}

.line-separator{
	max-width: 100%;
	border-bottom: 0.07rem solid #d4d4d4;
	margin-bottom: 4rem;
}
/*end of content section*/

/*product list section*/
.product_list {
	display: flex-inline;
}

.product {
	margin: 0 1rem 0 1rem;
}
.product_list h2{
	margin-bottom: 2rem;
}

.product_list h3{
	font-size: 1.5rem;
}

.product li {
	padding: 1rem;
	display: inline-block;
	line-height: 1.9;
}

/*end of product list section*/

/*sign up section*/
.form{
	max-width: 31rem;
	width: 100%;
}

.signup {
	height: 21.5rem;
	margin-top: 6rem;
}

.signup p{
	padding: 0 0.5% 0 0.5%;
	margin: 2rem 3rem 0 3rem;
}

input{
	max-width: 27rem;
	width: 100%;
	height: 1.5rem;
}

button{
	position: relative;
	left: 10.4rem;
	bottom: 2.64rem;
}

/*end of sign up section*/

/*footer section*/
.footer {
	display: flex;
	flex-direction: row;
	height: 14rem;
	padding: 3.8rem 0 0 0;
	justify-content: space-between;
}

.footer_text {
	width: 20rem;
	padding-left: 0.8rem;
	text-align: left;
}

.socialmedia ul{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	text-align: left;
}

.socialmedia{
	margin-right: 2.2rem;
}
.socialmedia li {
	width: auto;
	margin-bottom: 0.2rem;
}

.socialmedia i{
	width:1.7rem;
}
.socialmedia a{
	text-decoration: none;
}

.socialmedia_name {
	display: inline-block;
	color: white;
}

/*end of footer section*/
   
}
/* end of Breakpoints:tablet*/


/* Breakpoints:desktop*/

@media screen and (min-width: 1240px) {

html{
	font-size: 16px;
}

/*header section*/
.logo {
	width:10rem;	
	padding: 0.5rem 0 0.6rem 0.79rem;
}

.cart { 
	width: 3.9rem;
	padding: 0.5rem 0.78rem 0.42rem 0;
}
/*end of header section*/


/*banner section*/
.hero { 	
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24) ), 
	url('images/banner-girl.png') no-repeat center 3.8rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, auto 38.5rem, contain;
	height: 34.3rem;
	position: relative;
}

.hero_text { 
	font-size: 1.25rem;
	padding-top: 13.9rem;
	text-shadow: 0.005rem 0.005rem 0.2rem #969696;
}

.hero_springsummer { 
	font-size: 3.9rem;
	letter-spacing: 0.07rem;
	text-shadow: 0.005rem 0.005rem 0.2rem #969696;
	margin-top: 1rem;
}
/*end of banner section/


/*content section*/
.content1 {
	padding: 4.2rem 18rem 4rem 18rem;
	margin: 0 auto 0 auto;
}

.content1_text {
	font-size: 1.15rem;
	padding-top: 1.5rem;
	line-height: 2;
}

.line-separator{
	max-width: 100%;
	border-bottom: 0.07rem solid #d4d4d4;
	margin-bottom: 4rem;
}
/*end of content section*/

/*product list section*/
.product {
	width: 77rem;
	height: 23rem;
	margin: auto;
}


li {
	display: inline-block;
	vertical-align:middle;
	width: 16rem;
	height: 24.56rem;
}

.product h3 {
	font-size: 1.5rem;
	line-height: 1;
	padding: 1rem;
}

/*end of product list section*/

/*signup section*/
.signup{
	background: linear-gradient( rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18) ), 
	url('images/wave-bkgd.jpg') no-repeat bottom;
	height: 22rem;
}

.signup h2{
	padding-top: 0.5rem;
	font-size: 2.4rem;
}

.signup_text2 {
	margin: 0 auto 0 auto;
	width: 41.87rem;
}

.formcontainer {
	padding-top: 0rem;
	margin: 0 auto 0 auto;
	width: 25rem;
}

form {
	max-width: 31rem;
	width: 100%;
}

input {
	width: 23rem;
	padding: 0.6rem 2rem 0.6rem 2rem;
}

button{
	position: relative;
	left: 10.3rem;
	bottom: 2.5rem;
}

/*end of signup section*/

/*footer section*/

.socialmedia{
	padding-right: 5rem;
}

.socialmedia ul{
	display: block;
}

.socialmedia li {
	width: 0.3rem;
	height: 0.3rem;
	margin: 0.2rem 0.2rem 1.6rem 1.3rem;
}

.socialmedia2{
	visibility: visible;
}

.socialmedia2 li {
	position: relative;
	display: block;
	left: 11rem;
	bottom: 0.3rem;

}





/* end of Breakpoints:desktop*/
