.clearfix:before,
.clearfix:after {
	content:"";
	display: table;
	clear: both;
}
/*fonts*/
@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg'),
         url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg'),
         url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* start of mobile version*/
html{
	font-size:14px;
}

body{
	margin: 0 auto;
	font-family: 'ralewaylight';
}

h2 {
	font-family: 'playfair_displayitalic', 'Times New Roman', Times, serif;
	font-size: 2.5rem;
}
h3 {
	font-family: 'playfairdisplay-regular';
}
.bold{
	font-family: 'playfair_displaybold';
	font-style: normal;
}


/*header section*/
.logo { 
	float: left;
	width: 8.57rem;
	height: auto;
	padding: 0.57rem 0 0.43rem 0.36rem;
}

.cart { 
	float: right; 
	width: 3.57rem;
	height: auto;
	padding: 0.42rem 0.14rem 0.42rem 0;
}
/*end of header section*/

/*banner section*/
.hero { 
	text-align: center;
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30) ), 
	url('images/banner-girl.png') no-repeat center 3.57rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, 10.71rem 27.14rem, cover;	
	height: 28.57rem;
	max-height: 28.57rem;
	position: relative;
}

.hero_text { /*text in banner image*/
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 1.35rem;
	color: #ffffff;
	text-align: center;
	text-shadow: 0.14rem 0.14rem 0.57rem #000000;
	padding-top: 11.42rem;
}

.hero_springsummer { /*text in banner image*/
	font-family: 'playfairdisplay-regular', 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	margin: 1.42rem;
	letter-spacing: 0.07rem;
	text-shadow: 0.14rem 0.14rem 0.57rem #000000;
	color: #ffffff;
	text-align: center;
}
/*end of banner section*/

/*content section*/
.content1 {
	padding-top: 3.57rem;
	padding-bottom: 3.57rem;
	width: 30.71rem;
	margin: 0 auto 0 auto;
}

.content1_text {
	font-family: 'ralewaylight', 'Times New Roman', Times, serif;
	font-size: 1.14rem;
	padding-top: 1.78rem;
	line-height: 2;
}

.line-separator{
	max-width: 100%;
	border-bottom: 0.07rem solid #d4d4d4;
	margin-bottom: 4.28rem;
}
/*end of content section*/

/*product list section*/
#container {	
	text-align: center;	
	height: auto;
	margin-bottom: 0.57rem;
}

.product li {
	padding: 1.57rem;
}

li {
	list-style: none;
	line-height: 2;
}

.product p {
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 0.78rem;
	color: #969696;
}

.product_name {
	color: #e2574c;
	font-size: 1.64rem;
}

.product .price{
	font-family: 'ralewaymedium', 'Times New Roman', Times, serif;
	font-size: 1.07rem;
	color: #969696;
}
/*end of product list section*/

/*sign up section*/
form {
	position: relative; 
	top: 2.14rem;
	width: 28.57rem;
	margin: 0 auto;
}

input{
	outline: none;
	border-style: none;
	/*border: 0.07rem solid #d7d7d7;*/
	padding: 0.71rem 0 0.71rem 2.14rem;
	border-radius: 3rem;
	width: 25rem;
	height: 1.5rem;
	font-family: 'ralewaylight';
	font-size: 1.07rem;
}
input:focus{
	outline: none;
	box-shadow: .14rem .14rem .38rem #888888;
}

label{
	font-family: Helvetica;
	font-weight: bold;
}

.signup{
	margin: 2.8rem auto 0 auto;
	text-shadow: 0.03rem 0.03rem 0.07rem #000000;
	background: linear-gradient( rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18) ), 
	url('images/wave-bkgd.jpg') no-repeat bottom;
	height: 24rem;
}

.signup_text{
	padding-top: 4rem;
	color: #ffffff;
}

.signup_text2{
	padding-top: 1.40rem;
	font-family: 'ralewaylight', 'Times New Roman', Times, serif;
	font-size: 1.14rem;
	color: #ffffff;
	line-height: 2;
	width: 30.71rem;
	margin: 0 auto 0 auto;
}

button{
	border: 0;
	background-color: #e2574c;
	color: #fff;
	padding: 0.57rem 1.71rem;
	border-radius: 3rem;
	width: 7.85rem;
	font-family: 'ralewaymedium';
	font-weight: bold;
	font-size: 1.03rem;
	position: relative;
	left: 9.28rem;
	bottom: 2.64rem;
}

button:hover,
button:active {
	background-color: #AD3F36; 
}
/*end of sign up section*/

/*footer section*/
.footer {
height: 10.3rem;
width:100%;
max-width: 100%;
background:#242424;
text-align: center;
padding: 3.57rem 0 7.14rem 0;
}

.footer p {
	color: white;
	font-family: 'playfairdisplay-regular', 'Times New Roman', Times, serif;
	font-size: 1rem;
}

.alohaapparel {
	padding-top: 0.35rem;
	padding-bottom: 1.07rem;
	line-height: 1.5;
}

.contactinfo {
	padding-bottom: 1.21rem;
}

.email {
	color: white;
}

.email:hover {
	color: #b64036;
}

.address {
	line-height: 1.5;
	margin-bottom: 1.85rem;
}

.address p{
	color: #969696;
}


.socialmedia li {
	display: inline-block;
	padding : 0 0.42rem 0 0.42rem;

}

.fa {
	color: white;
}
.fa:hover {
	color: #b64036;
}

.socialmedia2 {
	visibility: hidden;
}

.socialmedia2 li {
	position: relative;
	text-align: left;
	float: none;
	letter-spacing: 0.04rem;
	width: 1rem;
	height: 0rem;
}
/*end of footer section*/
/* End of mobile version*/



/* Breakpoints:tablet*/
@media screen and (min-width: 600px) {

html{
	font-size: 16px;
}

h2 {
	font-size: 2.3rem;
}

/*header section*/
.logo { 
	width: 9rem;
	padding: 0.5rem 0 0.6rem 0.4rem;
}

.cart { 
	width: 3.4rem;
	padding: 0.52rem 0.4rem 0.42rem 0;
}
/*end of header section*/

/*banner section*/

.hero { 	
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), 
	url('images/banner-girl.png') no-repeat center 3.8rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, auto 23rem, contain;
	height: 25rem;
	position: relative;
}

.hero_text { /*text in banner image*/
	font-size: 1.3rem;
	padding-top: 9.6rem;
}

.hero_springsummer { /*text in banner image*/
	font-size: 2.8rem;
	padding-top: 0.4rem;
	letter-spacing: 0.07rem;
}
/*end of banner section*/

/*content section*/
.content1 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	width: 34rem;
	margin: 0 auto 0 auto;
}

.content1_text {
	font-size: 1.15rem;
	padding-top: 1.5rem;
	line-height: 2;
}

.line-separator{
	max-width: 100%;
	border-bottom: 0.07rem solid #d4d4d4;
	margin-bottom: 4rem;
}
/*end of content section*/

/*product list section*/
.product {
	width: 37.5rem;
	margin: 0 auto 0 auto;
}
.product_list h2{
	margin-bottom: 2rem;
}
.product li {
	padding: 1rem;
}

li {
	display: inline-block;
	width: 15.62rem;
}

.product img {
	width: 15rem;
}
/*end of product list section*/

/*sign up section*/
.signup {
	margin-top: 6rem;
}

.signup p {
width: 34rem;
}

input{
	width: 22rem;
	height: 1.5rem;
}

button{
	position: relative;
	left: 7.9rem;
	bottom: 2.64rem;
}

/*end of sign up section*/

/*footer section*/
.footer {
	height: 7.4rem;
	display: inline-block;
}

.footer_text {
	text-align: left;
	width: 20rem;
	float: left;
	padding-left: 0.8rem;
}

.socialmedia{
	float: right;
	margin-right: 7.5rem;
}

.socialmedia li {
	width: 1rem;
	display: block;
}

.socialmedia2{
	float: right;
	visibility: visible;
}

.socialmedia2 li {
	text-align: left;
	width: 6rem;
	height: 2rem;
	display: block;
	position: relative;
	left: 8.5rem;
	letter-spacing: 0.04rem;

}

.socialmedia2 a{
	color: white;
	text-decoration: none;
}
.socialmedia2 a:hover {
	color: #b64036;
}
/*end of footer section*/
   
}
/* end of Breakpoints:tablet*/


/* Breakpoints:desktop*/

@media screen and (min-width: 1240px) {

html{
	font-size: 16px;
}

/*header section*/
.logo {
	width:10rem;	
	padding: 0.5rem 0 0.6rem 0.79rem;
}

.cart { 
	width: 3.9rem;
	padding: 0.5rem 0.78rem 0.42rem 0;
}
/*end of header section*/


/*banner section*/
.hero { 	
	clear: both;
	background: linear-gradient( rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24) ), 
	url('images/banner-girl.png') no-repeat center 3.95rem, 
	url('images/flower-bkgd.jpg') repeat-x center top;
	background-size: cover, auto 38rem, contain;
	height: 34.3rem;
	position: relative;
}

.hero_text { 
	font-size: 1.3rem;
	padding-top: 12rem;
}

.hero_springsummer { 
	font-size: 2.8rem;
	padding-top: 0.4rem;
	letter-spacing: 0.07rem;
}
/*end of banner section*/

}
/* end of Breakpoints:desktop*/
